<div class ="card-top container-fluid">

</div>
<div class="container">
   <div class ="row">
    <ng-container *ngFor="let items of productList">
        <div class ="card col-md-3">
            <img src="{{items.image}}" alt="">
            <h5 style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis; max-width: 100ch;" >{{items.title}}</h5>
            <p></p>
            <p></p>
            <button class="btn btn-primary">add to cart</button>
        </div>

    </ng-container>
   

</div>
    
</div>


